@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* src/index.css or src/main.css */

@import "tailwindcss";

body {
  font-family: "Kanit", sans-serif;
  /* overflow-y: n; */
}

button {
  cursor: pointer;
  background-image: none;
  background: none;
  border: none;
}

.search-container {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
  border: 1px solid #6c63ff;
}

.search-container input {
  flex: 1;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.search-container input::placeholder {
  /* opacity: 0.5; */
  color: #c3c1e5;
}
.search-container input:focus {
  border: none;
  outline: none;
}

.search-container button {
  flex: 0.1;
}

/* ::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
} */

